* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#container {
    max-width: 1440px;
    width: 100%;
    padding: 4% 2%;
    margin: 0 auto;
    background-color: #F9FBFF;
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.left,
.right {
    width: 50%;
}

.right {
    display: flex;
    justify-content: flex-end;
}

header {
    margin: 1% 0;
    padding: 0.5% 2%;
}

section {
    padding: 4% 2%;
    margin-bottom: 4%;
}

footer {
    padding: 1% 2%;
}

.navlogo {
    max-width: 251.08px;
    width: 100%;
}

header a {
    margin: 0 5%;
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
}

.home {
    color: #041330;
}

.about {
    color: #2E3A53;
}

.btn {
    border: 1px solid #155EEF;
    color: #155EEF;
    padding: 1% 3%;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

.hamburger,
.close,
.nav2 {
    display: none;
}

.heroimg {
    max-width: 514px;
    width: 100%;

}

.aboutimg {
    max-width: 435px;
    width: 100%;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #155EEF;
}

.column {
    display: flex;
    flex-direction: column;
}

.item {
    width: 30%;
}

.footlogo {
    max-width: 259.08px;
    width: 100%;
}

.footicon {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2E3A53;
}

h1 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    color: #155EEF;
}

p,
ul {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #2E3A53;
}

.lightweight {
    font-weight: 400;
}

button {
    background: #155EEF;
    border-radius: 8px;
    border: none;
    padding: 1% 3%;
    margin-top: 3%;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

h2 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    color: #041330;
}

h4 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #041330;
    text-transform: uppercase;
}

.projects,
.inner {
    position: relative;
}

.projectimg {
    max-width: 713.85px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
}

ul {
    padding: 0 0 0 8%;
}

.projects .left {
    margin-bottom: 5%;
    background-color: #F9FBFF;
    padding: 2%;
}

@media screen and (max-width:767px) {
    section {
        flex-direction: column;
    }

    .hero .left,
    .hero .right,
    .about .left,
    .about .right,
    .inner .left {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .inner {
        position: static;
    }

    .projectimg {
        display: none;
    }

    .arrow {
        bottom: -4%;
    }

    button {
        width: 95%;
        font-size: 0.8rem;
        padding: 2% 0;
    }

    .about {
        flex-direction: column-reverse;
    }

    .heroimg {
        margin-top: 10%;
    }

    .aboutimg {
        margin-top: 5%;
    }

    .item h4 {
        font-size: 1.3rem;
    }

    .nav1 {
        display: none;
    }

    .hamburger,
    .close.visible {
        display: block;
        text-align: end;
    }

    .hamburger.visible {
        display: none;
    }

    .nav2.visible {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #F9FBFF;
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        padding-top: 20%;
        font-family: 'Halant';
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .nav2 a {
        color: #041330;
        padding: 5% 0;
        margin-bottom: 10%;
        margin-left: 30%;
        margin-right: 30%;
        border-bottom: 1px solid #030E27;
    }

    .header.visible {
        position: fixed;
        z-index: 1;
        left: 2%;
        right: 2%;
        top: 3%;
    }

    .projects {
        z-index: -1;
    }
}

@media screen and (max-width:450px) {
    .footer {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
    }


    h3 {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p,
    ul {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;

    }

    .item {
        width: 45%;
        padding: 1% 0;
    }

    .item h4 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 0.85rem;

    }
}